.widget {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  .header {
    display: flex;
    flex-direction: column;
    gap: 5px;

    .title {
      font-size: 20px;
      font-weight: 600;
    }

    .dates {
      font-size: 13px;
      color: #64748b;
    }
  }

  .progress {
    align-self: center;
  }

  .footer {
    font-size: 16px;
    color: #64748b;
    padding-bottom: 20px;
  }
}
